.container {
  background-color: #000000;
  height: 230px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.icon {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
