.container {
  max-height: 400px;
  padding: 10px;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 0px 0px 3px rgb(224, 224, 224);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  margin-top: 10px;
  width: 100%;
}

.author {
  font-weight: bold;
}

.text {
  padding: 0 10px;
}
